@import url('https://fonts.googleapis.com/css?family=Mali');

.main {
    margin-top: 10%;
}
.lot_name {
    font-size: 50px;
    font-family: 'Mali', arial;
}
.lot_description {
    font-size: 30px;
    font-family: 'Mali', arial;
}
.lot_pic {
    width: 100px;
    margin-left: 30%;
}
.price {
    margin-left: 50%;
}
.buttons{
    margin-left: 30%;
}